<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Comedy books</title>
</head>
<body>
    <h2>1) Mr. Hollywood's Assistant : (A Curvy Romantic Comedy)</h2>
    <p>Certified thrift store addict Vivian Magnolia is a busty size 16 assistant to Hollywood’s hottest stars, with the sass to match.
After being let go by the diva from hell and moving her life to Meadowmill, Hollywood’s younger sister, she finds herself working for mega stud Jax Ace, notorious playboy and voted 2019’s hottest man alive.</p>
    <a href="https://www.amazon.in/Mr-Hollywoods-Assistant-Romantic-Comedy-ebook/dp/B07W37SX7P/ref=sr_1_8?crid=1CA2NE6X715CD&keywords=comedy+books&qid=1669988331&qu=eyJxc2MiOiI1LjI5IiwicXNhIjoiNC43NiIsInFzcCI6IjQuNDUifQ%3D%3D&sprefix=comedy+b%2Caps%2C490&sr=8-8" >Mr. Hollywood's Assistant : (A Curvy Romantic Comedy)</a><br>
    <h2>2) A Marriage of Anything But Convenience</h2>
    <p>One such phenomenon is the marriage of convenience which is taking place in India for decades due to a lack of acceptance of queer relationships and making heterosexuality a norm. Inspired by real stories, the book talks about how people opt for the marriage of convenience and who pays the price of such marriages.</p>
    <a href="https://www.amazon.in/Marriage-Anything-But-Convenience-Billionaire-ebook/dp/B087TQ6RVC/ref=d_reads_cwrtbar_sccl_1_1/257-1004322-8878562?pd_rd_w=5DHph&content-id=amzn1.sym.9704eff4-92d0-4a83-8219-5adade825374&pf_rd_p=9704eff4-92d0-4a83-8219-5adade825374&pf_rd_r=KGCQV3RG67XY79BQS58X&pd_rd_wg=59MDZ&pd_rd_r=5d03f2f3-6a77-4f27-9af0-6fce790be770&pd_rd_i=B087TQ6RVC&psc=1" >A Marriage of Anything But Convenience</a><br>
    <h2>3) The Blue Umbrella</h2>
    <p>The Blue Umbrella by Ruskin Bond describes life in the hill community of Gharwal, where common people rise to heroic status while others are given chances to atone for their transgressions. The novel explores a range of emotions, such as kindness, jealousy, heroism, etc., through its different yet simple characters.</p>
    <a href="https://www.amazon.in/Blue-Umbrella-Ruskin-Bond/dp/8171673406/ref=sr_1_9?crid=1CA2NE6X715CD&keywords=comedy+books&qid=1669988331&qu=eyJxc2MiOiI1LjI5IiwicXNhIjoiNC43NiIsInFzcCI6IjQuNDUifQ%3D%3D&sprefix=comedy+b%2Caps%2C490&sr=8-9" >The Blue Umbrella</a><br>
    <h2>4) The Comedy of Errors</h2>
    <p>After both being separated from their twins in a shipwreck, Antipholus and his slave Dromio go to Ephesus to find them. The other set of twins lives in Ephesus, and the new arrivals cause a series of incidents of mistaken identity.</p>
    <a href="https://www.amazon.in/Comedy-Errors-William-Shakespeare/dp/9389931037/ref=sr_1_16?crid=1CA2NE6X715CD&keywords=comedy+books&qid=1669988331&qu=eyJxc2MiOiI1LjI5IiwicXNhIjoiNC43NiIsInFzcCI6IjQuNDUifQ%3D%3D&sprefix=comedy+b%2Caps%2C490&sr=8-16" >The Comedy of Errors</a><br>
    <h2>5) 1984</h2>
    <p>1984 is a dystopian novella by George Orwell published in 1949, which follows the life of Winston Smith, a low ranking member of 'the Party', who is frustrated by the omnipresent eyes of the party, and its ominous ruler Big Brother. </p>
    <a href="https://www.amazon.in/1984-George-Orwell/dp/9389053730/ref=sr_1_22_sspa?crid=1CA2NE6X715CD&keywords=comedy+books&qid=1669988331&qu=eyJxc2MiOiI1LjI5IiwicXNhIjoiNC43NiIsInFzcCI6IjQuNDUifQ%3D%3D&sprefix=comedy+b%2Caps%2C490&sr=8-22-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1" >1984 </a><br>
</body>
</html>