<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fiction books</title>   
</head>
<body>
    <h2>1) It Ends With Us: A Novel</h2>
    <p>The story is about Lily Bloom, who grew up in a household where her father physically and sexually abused her mother. In spite of the abuse, Lily's mother doesn't leave her husband, which leads Lily to believe her mother is weak, and Lily swears never to end up like her.
</p>
    <a href="https://www.amazon.in/Ends-Us-Novel-Colleen-Hoover/dp/1501110365/ref=sr_1_3?crid=1VO2HOINBB987&keywords=fiction&qid=1669988876&qu=eyJxc2MiOiI1Ljg1IiwicXNhIjoiNS42MSIsInFzcCI6IjQuODEifQ%3D%3D&s=books&sprefix=fictio%2Cstripbooks%2C480&sr=1-3" >It Ends With Us: A Novel</a><br>
    <h2>2) Metamorphosis</h2>
    <p>One of Kafka's best-known works, Metamorphosis tells the story of salesman Gregor Samsa, who wakes one morning to find himself inexplicably transformed into a huge insect (German: ungeheueres Ungeziefer, lit. "monstrous vermin") and subsequently struggles to adjust to this new condition.</p>
    <a href="https://www.amazon.in/Metamorphosis-Franz-Kafka/dp/8172345135/ref=sr_1_4?crid=1VO2HOINBB987&keywords=fiction&qid=1669988876&qu=eyJxc2MiOiI1Ljg1IiwicXNhIjoiNS42MSIsInFzcCI6IjQuODEifQ%3D%3D&s=books&sprefix=fictio%2Cstripbooks%2C480&sr=1-4" >Metamorphosis</a><br>
    <h2>3) The Seven Husbands of Evelyn Hugo</h2>
    <p>The Seven Husbands of Evelyn Hugo is a historical fiction novel by American author Taylor Jenkins Reid and published by Atria Books in 2017. The novel tells the story of the fictional Old Hollywood star Evelyn Hugo, who at age 79 gives a final interview to an unknown journalist, Monique Grant.</p>
    <a href="https://www.amazon.in/Seven-Husbands-Evelyn-Hugo-Novel/dp/1501161938/ref=sr_1_5?crid=1VO2HOINBB987&keywords=fiction&qid=1669988876&qu=eyJxc2MiOiI1Ljg1IiwicXNhIjoiNS42MSIsInFzcCI6IjQuODEifQ%3D%3D&s=books&sprefix=fictio%2Cstripbooks%2C480&sr=1-5" >The Seven Husbands of Evelyn Hugo</a><br>
    <h2>4) Dark Matter: The Most Mind-Blowing And Twisted Thriller Of The Year</h2>
    <p>A breathtaking exploration of memory and what it means to be human, Recursion is the follow-up novel to the smash-hit thriller, Dark Matter, by Blake Crouch.'Recursion takes mind-twisting premises and embeds them in a deeply emotional story about time and loss and grief.</p>
    <a href="https://www.amazon.in/Dark-Matter-Mind-Blowing-Twisted-Thriller/dp/144729758X/ref=sr_1_7?crid=1VO2HOINBB987&keywords=fiction&qid=1669988876&qu=eyJxc2MiOiI1Ljg1IiwicXNhIjoiNS42MSIsInFzcCI6IjQuODEifQ%3D%3D&s=books&sprefix=fictio%2Cstripbooks%2C480&sr=1-7" >Dark Matter: The Most Mind-Blowing And Twisted Thriller Of The Year</a><br>
    <h2>5) The Complete Novels of Sherlock Holmes </h2>
    <p>The scarlet thread of murder running through the colourless skein of life and our duty is to unravel it and isolate it and expose every inch of it.?Sherlock Holmes Consulting Detective 221B Baker Street London.</p>
    <a href="https://www.amazon.in/Complete-Novels-Sherlock-Holmes/dp/8175994312/ref=sr_1_9?crid=1VO2HOINBB987&keywords=fiction&qid=1669988876&qu=eyJxc2MiOiI1Ljg1IiwicXNhIjoiNS42MSIsInFzcCI6IjQuODEifQ%3D%3D&s=books&sprefix=fictio%2Cstripbooks%2C480&sr=1-9" >The Complete Novels of Sherlock Holmes </a><br>
</body>
</html>