<!DOCTYPE html>
<html lang="en">
<head>
  <title>Horror stories</title>
</head>
<body>
    
    <h2>1) That Night: Four Friends. Twenty Years. One Haunting Secret</h2>
    <p>This book follows the life of four friends who commits a terrible mistake by playing with Ouija Board in the name of prank twenty years ago during their teens. They make a vow, not to speak about that particular night which changed their world upside down ever again.</p>
    <a href="https://www.amazon.in/That-Night-Friends-Haunting-Secret/dp/0143451871/ref=sr_1_3?crid=9028PPSDZKNN&keywords=horror+books&qid=1669985697&qu=eyJxc2MiOiI1LjIzIiwicXNhIjoiNC42NiIsInFzcCI6IjMuMzQifQ%3D%3D&sprefix=horror+%2Caps%2C455&sr=8-3" >That Night: Four Friends. Twenty Years. One Haunting Secret</a> <br>
    <h2>2) Deacula</h2>
    <p>Dracula comprises journal entries, letters, and telegrams written by the main characters. It begins with Jonathan Harker, a young English lawyer, as he travels to Transylvania. Harker plans to meet with Count Dracula, a client of his firm, in order to finalize a property transaction.</p>
  <a href="https://www.amazon.in/Dracula-Bram-Stoker/dp/8172344775/ref=sr_1_7?crid=9028PPSDZKNN&keywords=horror+books&qid=1669985697&qu=eyJxc2MiOiI1LjIzIiwicXNhIjoiNC42NiIsInFzcCI6IjMuMzQifQ%3D%3D&sprefix=horror+%2Caps%2C455&sr=8-7">Deacula</a> <br>
  <h2>3) The Canterville Ghost</h2>
  <p>The story is about an American family who moved to a castle haunted by the ghost of a dead English nobleman, who killed his wife and was then walled in and starved to death by his wife's brothers. It has been adapted for the stage and screen several times.</p>
  <a href="https://www.amazon.in/Canterville-Ghost-Oscar-Wilde/dp/9354401538/ref=sr_1_8?crid=9028PPSDZKNN&keywords=horror+books&qid=1669985697&qu=eyJxc2MiOiI1LjIzIiwicXNhIjoiNC42NiIsInFzcCI6IjMuMzQifQ%3D%3D&sprefix=horror+%2Caps%2C455&sr=8-8" >The Canterville Ghost</a> <br>
  <h2>4) Fingerprint! Publishing 50 Worlds Greatest Horror Stories</h2>
  <p>Fifty of the worlds spookiest, spine-chilling stories have been amassed in this anthology, stories about ghosts, spirits, monsters, and the undead. Read on if you have the courage, but do so at your own peril.</p>
  <a href="https://www.amazon.in/Worlds-Greatest-Horror-Stories-Collectable/dp/9389053153/ref=sr_1_9?crid=9028PPSDZKNN&keywords=horror+books&qid=1669985697&qu=eyJxc2MiOiI1LjIzIiwicXNhIjoiNC42NiIsInFzcCI6IjMuMzQifQ%3D%3D&sprefix=horror+%2Caps%2C455&sr=8-9" >Fingerprint! Publishing 50 Worlds Greatest Horror Stories</a><br>
  <h2>5) Ghosts of The Silent Hills: Stories based on true hauntings</h2>
  <p>Ghosts of The Silent Hills by Anita Krishan is a collection of short stories that grip you, shake you, and fill you with those cold spooky vibes. Each and every story revolves around a peculiar story of the ghost, a soul that dies dissatisfied, and reflects the flaws in our society and humanity.</p>
  <a href="https://www.amazon.in/Ghosts-Silent-Hills-Stories-hauntings/dp/9389717132/ref=sr_1_11_sspa?crid=9028PPSDZKNN&keywords=horror+books&qid=1669985697&qu=eyJxc2MiOiI1LjIzIiwicXNhIjoiNC42NiIsInFzcCI6IjMuMzQifQ%3D%3D&sprefix=horror+%2Caps%2C455&sr=8-11-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9tdGY&psc=1" >Ghosts of The Silent Hills: Stories based on true hauntings</a><br>
</body>
</html>