<!DOCTYPE html>
<html>
    <head>
        <title>
            BOOKS
        </title>
    </head>
    <body>
        <h1> Pick the Genre for which you are interested </h1>
        <a href="http://localhost:3001/horror">1)Horror books </a><br>
        <a href="http://localhost:3001/fiction" >2)Fiction books </a><br>

        <a href="http://localhost:3001/comedy">3)Comedy Books</a><br>
        <a href="http://localhost:3001/upsc">4) UPSC books</a><br>
        <a href="http://localhost:3001/inspirational">5) inspirational Books</a>
    </body>
    
</html>