<!DOCTYPE html>
<html>
    <head>
        <title>
            BOOKS
        </title>
    </head>
    <body>
            <h1>Inspirationl books</h1>
        <h2>1) The Subtle Art of Not Giving a F*ck</h2>
        <p> Not giving a fuck is not about being indifferent. It just means you're comfortable with being different. Don't say fuck it to everything in life, just to the unimportant things.To not give a fuck about adversity, you must first care about something more important than adversity.</p>
        <a href="https://www.amazon.in/Subtle-Art-Not-Giving/dp/0062641549/ref=sr_1_5?crid=17QRA2DVRFQVS&keywords=inspirational+books&qid=1669987809&qu=eyJxc2MiOiI2LjEwIiwicXNhIjoiNS44NyIsInFzcCI6IjUuNDkifQ%3D%3D&sprefix=inspirational+books+%2Caps%2C404&sr=8-5" >The Subtle Art of Not Giving a F*ck</a><br>
        <h2>2) Atmoic habbits</h2>
        <p>Atomic Habits is the most comprehensive and practical guide on how to create good habits, break bad ones, and get 1 percent better every day. I do not believe you will find a more actionable book on the subject of habits and improvement. If you're having trouble changing your habits, the problem isn't you.</p>
        <a href="https://www.amazon.in/Atomic-Habits-James-Clear/dp/1847941834/ref=pd_bxgy_img_sccl_1/257-1004322-8878562?pd_rd_w=8DxFX&content-id=amzn1.sym.d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_p=d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_r=YZJ2YGM28QW4H63GBHYB&pd_rd_wg=5DSF1&pd_rd_r=cc6f8a04-2969-4abd-844d-ca2cc301b90b&pd_rd_i=1847941834&psc=1" >Atmoic habbits </a><br>
        <h2>3) The Power of A Positive Attitude: Your Road To Success</h2>
        <p>In The Power of a Positive Attitude, he shows readers how to develop a deeper understanding of the effects of their attitude and how it influences not only their performance but the results others achieve.</p>
        <a href="https://www.amazon.in/Power-Positive-Attitude-Your-Success/dp/9389432642/ref=sr_1_8?crid=17QRA2DVRFQVS&keywords=inspirational+books&qid=1669987809&qu=eyJxc2MiOiI2LjEwIiwicXNhIjoiNS44NyIsInFzcCI6IjUuNDkifQ%3D%3D&sprefix=inspirational+books+%2Caps%2C404&sr=8-8" >The Power of A Positive Attitude: Your Road To Success</a><br>
        <h2>4) The Power of Your Subconscious Mind</h2>
        <p>-Sentence-Summary: The Power Of Your Subconscious Mind is a spiritual self-help classic, which teaches you how to use visualization and other suggestion techniques to adapt your unconscious behavior in positive ways.</p>
        <a href="https://www.amazon.in/Power-Your-Subconscious-Mind-Success/dp/8172345666/ref=sr_1_14?crid=17QRA2DVRFQVS&keywords=inspirational+books&qid=1669987809&qu=eyJxc2MiOiI2LjEwIiwicXNhIjoiNS44NyIsInFzcCI6IjUuNDkifQ%3D%3D&sprefix=inspirational+books+%2Caps%2C404&sr=8-14" >The Power of Your Subconscious Mind</a><br>
        <h2>5) Inner Engineering</h2>
        <p>Inner Engineering is a technology for well-being derived from the science of Yoga. It is offered as a comprehensive course for personal growth that brings about a shift in the way you perceive and experience your life, your work, and the world that you live in.</p>
        <a href="https://www.amazon.in/Inner-Engineering-Yogis-Guide-Joy/dp/0143428845/ref=sr_1_15?crid=17QRA2DVRFQVS&keywords=inspirational+books&qid=1669987809&qu=eyJxc2MiOiI2LjEwIiwicXNhIjoiNS44NyIsInFzcCI6IjUuNDkifQ%3D%3D&sprefix=inspirational+books+%2Caps%2C404&sr=8-15" >Inner Engineering</a><br>
    </body>
</html>