<!DOCTYPE html>
<html lang="en">
<head>
    <title>UPSC books</title>
</head>
<body>
    <h2>1) 27 Years UPSC IAS/ IPS Prelims Topic-wise Solved Papers 1 & 2</h2>
    <p>The thoroughly Revised and Updated 12th edition (2 colour) of Disha's BESTSELLER "27 Years UPSC IAS/ IPS Prelims Topic-wise Solved Papers 1 & 2 (1995-2021)" consists of past years solved papers of the General Studies Paper 1 & 2 distributed into 8 Units and 52 Topics.</p>
    <a href="https://www.amazon.in/Years-Prelims-Topic-wise-Solved-Papers/dp/9355640005/ref=sr_1_4?crid=2WVY3ZNM33K7U&keywords=UPSC+books&qid=1669988663&qu=eyJxc2MiOiI2Ljc5IiwicXNhIjoiNi4zOSIsInFzcCI6IjUuNTIifQ%3D%3D&sprefix=upsc+b%2Caps%2C924&sr=8-4" >27 Years UPSC IAS/ IPS Prelims Topic-wise Solved Papers 1 & 2</a><br>
    <h2>2) Oxford Student Atlas for India, Fourth Edition </h2>
    <p>Thoroughly researched and up-to-date, this fourth edition of the atlas caters to the needs of the students preparing for competitive examinations conducted by the UPSC, State Public Service Commissions and other examining bodies. </p>
    <a href="https://www.amazon.in/Oxford-Student-Atlas-India-Fourth/dp/9391050840/ref=pd_bxgy_img_sccl_2/257-1004322-8878562?pd_rd_w=T9iMK&content-id=amzn1.sym.d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_p=d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_r=DZWCRCQ9W1CSSVZEFQTS&pd_rd_wg=3gN7I&pd_rd_r=0f75d648-b310-4980-abfe-50b4021886d8&pd_rd_i=9391050840&psc=1" >Oxford Student Atlas for India, Fourth Edition </a><br>
    <h2>3) Indian Art and Culture</h2>
    <p>It's really a very nice book for anyone to prepare for upsc civil services examinations.It includes various sections like Indian art, culture, architecture, sculpture,pottery,paintings,dance forms, literature, law and culture, bhakti movement, sufi movement and languages etc.</p>
    <a href="https://www.amazon.in/Indian-Culture-English-Services-Administrative/dp/9354601804/ref=pd_bxgy_img_sccl_1/257-1004322-8878562?pd_rd_w=0RO6o&content-id=amzn1.sym.d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_p=d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_r=1RSRN0HFX5K36PCQCVYB&pd_rd_wg=Mrmcp&pd_rd_r=fde435be-41f6-4d2c-b813-9ac3ae3d3125&pd_rd_i=9354601804&psc=1" >Indian Art and Culture</a><br>
    <h2>4) Indian Economy</h2>
    <p>UPSC CSE Prelims & Mains Books 2022: Indian Economy launched by Study IQ Publications aims to address the syllabus of Economy holistically from the UPSC Civil Services Examinations perspective.</p>
    <a href="https://www.amazon.in/Indian-Economy-English-Services-Administrative/dp/9355321139/ref=pd_bxgy_img_sccl_1/257-1004322-8878562?pd_rd_w=svVhO&content-id=amzn1.sym.d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_p=d68c4347-8b80-4998-9474-4671a1e32e96&pf_rd_r=8SJXQPHB4YRXEJH8XDTN&pd_rd_wg=WaadX&pd_rd_r=93f29176-63ae-4c6b-80da-621da14f4e0f&pd_rd_i=9355321139&psc=1" >Indian Economy</a><br>
    <h2>5)Environmental Ecology, Biodiversity, Climate Change and Disaster Management </h2>
    <p>It covers all aspects of Environmental Ecology, Biodiversity and Climate Change from basic to advanced level making it easier for students from non-science background to comprehend and retain.</p>
    <a href="https://www.amazon.in/dp/9355320256/ref=emc_b_5_t" >Environmental Ecology, Biodiversity, Climate Change and Disaster Management </a><br>
</body>
</html>